body {
    background-color: #DDE7EC;
    align-items: center;
}

.container{
  border-style: double;
  border-color: blue;
  height: 600px;
  width: 80%;
  text-align: center;
  margin: auto;
}
form{
  margin-top: 10%;
  text-align: center;
}
button{
  margin: 5px;
}
table, td {
    border: 1px solid black;
    margin: auto;
}
